:root {
  --graph-incoming: #1677ff;
  --graph-outgoing: #52c41a;
  --graph-circular: #ff4d4f;
  --graph-circular-type-only: #ffa39e;
  --graph-circular-background: #fff1f0;
  --graph-selected: #fa8c16;
  --graph-default-edge: #b1b1b7;
}

[data-dark] {
  --graph-circular-background: #2a1215;
  --graph-default-edge: #6b6b70;
}
